@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/font/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/font/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/font/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/font/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/font/Roboto-Bold.ttf');
}

// set fonts
